.formComponent{
    display: flex;
    margin: 80px 0;
    gap: 10px;
    flex-wrap: wrap;
   justify-content: center;

    
    
}

.formComponent form{
    
    max-width: 100%;
    background: #F2F2F2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 16px   rgba(0,0,0,0.08);
    margin-top: 40px;
    

}

.button-style{
    margin-top: 20px;
}