.time__container{
    display: flex;
    flex-direction: column;
    align-items: center;
     padding: 32px;
    /* so pra delimitar o container*/
    min-height: 438px; /* altura minimo para quando o container estiver vazio*/
    
}

.time__container h3{
    margin: 32px;
    border-bottom: 4px solid;
    padding-bottom: 8px;

}

.time__colaboradores{
    display: flex;
    justify-content: center;
    max-width: 80%;
    flex-wrap: wrap;
    gap: 50px;
}

.time__colaboradores h2{
    margin: 32px;
    border-bottom: 4px solid;
    padding-bottom: 8px;
}




/*listagem de colaboradores cadastrados*/


.colaboradores__cadastrados{
    display: flex;
    gap:44px;
    flex-wrap: wrap;    

}